<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math Operation Selector</title>
</head>
<body>

  <h1>Select a Math Operation:</h1>

  <form action="/game" method="post">
    <label for="mathOperation">Choose an operation:</label>
    <select id="mathOperation" name="mathOperation">
      <option value="multiplication">Multiplication</option>
      <option value="addition">Addition</option>
      <option value="subtraction">Subtraction</option>
      <option value="division">Division</option>
      <option value="all">All</option>

    </select>

    <button type="submit">Play</button>
  </form>

  <script>
    function play() {
      var selectedOperation = document.getElementById("mathOperation").value;
    //   console.log("heheheh")
    //   window.location.href = "/game?operation=" + selectedOperation;

      // Add your logic here to perform an action based on the selected operation
    }
  </script>

</body>
</html>
