<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math Operation Selector</title>
</head>
<body>

  <h1>Select a Math Operation:</h1>

  <form action="/game" method="post">
    <label for="mathOperation">Choose an operation:</label>
    <select id="mathOperation" name="mathOperation">
      <option value="multiplication">Multiplication</option>
      <option value="addition">Addition</option>
      <option value="subtraction">Subtraction</option>
      <option value="division">Division</option>
      <option value="all">All</option>

    </select>

    <button type="submit">Play</button>
  </form>

  <p>Current High Score: {{high_score}}</p>
  <p>Latest Score: {{latest_score}}</p>

  <!-- <form>
    <button type="button" onclick="resetStorage()">reset</button>
</form> -->



  <script>
    function play() {
      var selectedOperation = document.getElementById("mathOperation").value;
    }

    // function resetStorage() {
    //         console.log("reset CALLED")
    //         localStorage.clear();
    //         sessionStorage.clear();
    //         location.reload();

    //         // localStorage.setItem('score',0)
    //     }
  </script>

</body>
</html>
