<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Your existing head content -->
</head>

<style>
    /* Style for the form button */
    #numberForm button {
        background-color: #4CAF50; /* Green background color */
        color: white; /* White text color */
        padding: 10px 15px; /* Add some padding */
        font-size: 16px; /* Increase font size */
        border: none; /* Remove border */
        cursor: pointer; /* Add a cursor pointer on hover */
        border-radius: 5px; /* Add rounded corners */
        margin-top: 10px; /* Add some margin from the input field */
    }

    /* Style for the replay button */
    #replayButton {
        background-color: #008CBA; /* Blue background color */
        color: white; /* White text color */
        padding: 10px 15px; /* Add some padding */
        font-size: 16px; /* Increase font size */
        border: none; /* Remove border */
        cursor: pointer; /* Add a cursor pointer on hover */
        border-radius: 5px; /* Add rounded corners */
        margin-top: 10px; /* Add some margin from the form */
    }
</style>

<body>
    <!-- <form>
        <button type="button" onclick="resetStorage()">reset</button>
    </form> -->

    <h1>Number Display</h1>
    <!-- <p>Number 1: {{ number1 }}</p>
    <p>Number 2: {{ number2 }}</p>
    <p>Operator: {{ chosen_operator }}</p> -->
    <p> Q: {{ number1 }} {{ chosen_operator }} {{ number2 }} = ? </p>
    
    <!-- Display the countdown timer -->
    <p>Time remaining: <span id="timer"></span></p>
    
    <!-- Display the current score -->
    <p>Score: <span id="score">0</span></p>

    
    <!-- Your HTML code with the updated styles -->
    <form id="numberForm" action="/" method="post">
        <label for="user_input">Enter a number:</label>
        <input type="number" id="user_input" name="user_input" required>
        <button type="button" onclick="checkAnswer()">Submit</button>
    </form>
    
    <button id="replayButton" onclick="replayGame()">Main Menu</button>
   

    <script>
     
        var remainingTime;  // Variable to store the remaining time
        // var score // Variable to store the score
        // Initialize the timer when the page loads
        // var score = localStorage.getItem('score', score) ? score : 0  ;
        var score = localStorage.getItem('score', score) ;
        score = score || 0 

        console.log("score:", score)

        document.getElementById('score').textContent = score;

        document.addEventListener('keydown', function (event) {
            if (event.key === 'Enter' && document.activeElement.id === 'user_input') {
                event.preventDefault()
                checkAnswer();
            }
        });

        window.onload = function () {
            var timerDisplay = document.getElementById('timer');
            var remainingTime = localStorage.getItem('remainingTime');
            // var score = localStorage.getItem('score', score) ? score : 0  ;

            console.log("remainingTime:", remainingTime)

            // Use remainingTime if available and it's a valid number
            if (remainingTime && !isNaN(parseFloat(remainingTime))) {
                startTimer(parseFloat(remainingTime), timerDisplay);
            } else {
                // Start the timer from 60 seconds if remainingTime is not available or not a valid number
                startTimer(60, timerDisplay);
            }
            // if (score && !isNaN(parseFloat(score))) {
            //     console.log("score exists")
                // document.getElementById('score').textContent = score;
            // } 
            

            
        }

   
        
        function resetStorage() {
            console.log("reset CALLED")
            localStorage.clear();
            sessionStorage.clear();
            // localStorage.setItem('score',0)
        }

        function checkAnswer() {
            // Get user input and answer from the backend
            var userInput = parseFloat(document.getElementById('user_input').value);
            var correctAnswer = {{ answer }};

            console.log("check answer called, current score:", score)

            // Compare user input with the correct answer
            if (userInput === correctAnswer) {
                // If correct, save the remaining time
                remainingTime = getRemainingTime();
                var encodedRemainingTime = encodeURIComponent(remainingTime);
                localStorage.setItem('remainingTime', remainingTime);

                // Increment the score by 1
                score = parseInt(score)
                score += 1;
                // console.log("correct answer is given, new score:", score)

                // Update the score display
                document.getElementById('score').textContent = score;
                localStorage.setItem('score', score);
                // console.log("set score done, score", score)
                // alert("correct! Score +1")

                // Reload the page
                location.reload();
            } else {
                // If incorrect, deduct the score by 1 and update the page accordingly
                // For demonstration purposes, let's show an alert
                alert('Incorrect! Deducting score -1');
                
                // Deduct the score by 1
                score = parseInt(score)
                score = score - 1;
                console.log("score after deducting:", score)
                // Update the score display
                document.getElementById('score').textContent = score;
                localStorage.setItem('score', score);

            }
        }

        function getRemainingTime() {
            // Get the remaining time from the timer span
            var timerSpan = document.getElementById('timer');
            var timeArray = timerSpan.textContent.split(":");
            var remainingSeconds = parseInt(timeArray[0]) * 60 + parseInt(timeArray[1]);
            return remainingSeconds;
        }

        // Countdown timer function
        function startTimer(duration, display) {
            var timer = parseFloat(remainingTime) || duration;  // Parse remaining time as float and use if available
            var minutes, seconds;
            var intervalId = setInterval(function () {
                minutes = Math.floor(timer / 60);
                seconds = timer % 60;

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
            clearInterval(intervalId);
            
            // Redirect to game_over.html with the score as a query parameter
            window.location.href = "/game_over?score=" + score;
        }
    }, 1000);
        }

        function replayGame() {
            // Redirect to the main game page to start a new game
            console.log("reset CALLED")
            localStorage.clear();
            // sessionStorage.clear();
            window.location.href = "/";
        }

        
    </script>
</body>
</html>
