<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Your existing head content -->
</head>

<style>
    #replayButton {
        background-color: #008CBA; /* Blue background color */
        color: white; /* White text color */
        padding: 10px 15px; /* Add some padding */
        font-size: 16px; /* Increase font size */
        border: none; /* Remove border */
        cursor: pointer; /* Add a cursor pointer on hover */
        border-radius: 5px; /* Add rounded corners */
        margin-top: 10px; /* Add some margin from the form */
    }
</style>

<body>
    <h1>Game Over</h1>
    <p>Your Score: <span id="finalScore"></span></p>

    <button id='replayButton' onclick="replayGame()">Replay Game</button>

    <script>
        window.onload = function () {
            // Retrieve the score from the query parameter
            var urlParams = new URLSearchParams(window.location.search);
            var score = urlParams.get('score');

            // Display the score on the page
            document.getElementById('finalScore').textContent = score;
        };

        function replayGame() {
            // Redirect to the main game page to start a new game
            console.log("reset CALLED")
            localStorage.clear();
            // sessionStorage.clear();
            window.location.href = "/";
        }

    </script>
</body>
</html>
